-e git://github.com/tsifrer/python-binary.git#egg=binary
base58
black
click
coincurve
factory_boy
flake8
flake8-broken-line
flake8-bugbear
flake8-import-order
flask
gevent
gunicorn
huey
peewee
peewee-migrate
pip-tools
psycopg2
pytest
python-dateutil
redis
requests
semver
transitions
psutil
