-e git://github.com/tsifrer/python-binary.git#egg=binary
base58
black
click
coincurve
factory_boy
flake8
flake8-broken-line
flake8-bugbear
flake8-import-order
gevent
gunicorn
hiredis
huey
peewee
peewee-migrate
pip-tools
psutil
psycopg2-binary
pytest
pytest-cov
pytest-mock
python-dateutil
redis
requests
semver
sphinx
sphinx_rtd_theme
websocket-client
websockets