-e git://github.com/tsifrer/python-binary.git#egg=binary
base58
black
click
coincurve
flake8
flake8-broken-line
flake8-bugbear
flake8-import-order
flake8-quotes
peewee
peewee-migrate
pip-tools
pyramid
pytest
python-dateutil
redis
requests
semver
transitions
waitress
webtest